mkdocs
mkdocs-cluster
mkdocs-macros-plugin
pymdown_extensions
rdflib
pyld
requests
lxml
-e git://github.com/linked-art/crom.git#egg=cromulent
-e git://github.com/fralau/mkdocs-mermaid2-plugin#egg=mkdocs-mermaid2-plugin
-e git://github.com/linked-art/mkdocs-linkedart-plugin.git#egg=mkdocs-linkedart-plugin
